<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ovos</th>
      <th>Quantidade</th>
      <th>Galinhas</th>
    </tr>
  </thead>
  <tbody id="chicken-list">
		<%= render chickens %>
	</tbody>
</table>