<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ação 1</th>
      <th>Ação 2</th>
    </tr>
  </thead>
  <tbody id="chicken-list">
		<%= render chickens %>
	</tbody>
</table>