<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Action 1</th>
      <th>Action 2</th>
    </tr>
  </thead>
  <tbody id="chickens">
		<%= render chickens %>
	</tbody>
</table>