<div id="main-content">
		<%= render "new" %>
</div>

<h2>
	Veja nosso galinheiro - <%= link_to "adicionar galinha", new_chicken_path, remote: true %>
</h2>

<div id="chicken-list">
	<%= render "custom_list", chickens: chickens %>
	<% if chickens.empty? %>
		<h3 id="msg-without-chickens">
			Sem galinhas =`(
		</h3>
	<% end %>
</div>